<!-- MAP MODAL -->
<div class="map-modal" id="mapModal">
    <div class="map-modal-content">
        <div class="map-modal-header">
            <h3><i class="fa-solid fa-map-location-dot"></i> Our Location</h3>
            <button class="map-close-btn" onclick="closeMapModal()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="map-container">
            <iframe id="mapIframe" title="ProCare Location Map"
                data-src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3783.405791886054!2d77.007231!3d11.040279!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8582799afc473%3A0x19e59b0d2c9a9286!2sPro%20Care%20physiotherapy%20%26%20rehabilitation%20centre!5e1!3m2!1sen!2sin!4v1767460794072!5m2!1sen!2sin"
                width="100%" height="550" style="border:0; border-radius: 8px;" allowfullscreen=""
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>